<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-success">
      <a class="navbar-brand" href="/urls">TinyApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/urls">My URLs</a>
          <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        </div>
      </div>
          <div class="username-class mr-3" style="float: right;">       
            <% if (!user || !user.email) { %>
              <div class=“navbar-nav”>
                      <a class="nav-item nav-link" href="/login">Login</a>
                      <a class="nav-item nav-link" href="/register">Register</a>
              </div>
          <% } else { %> 
            
            <div class="username-class mr-3">       
            <span class="navbar-text">Logged In As: <%= user.email %>!</span></div>
            <br/>
            <br/>
            <form class="form-inline ml-auto" action="/logout" method="POST">
           <button type="submit" class="btn btn-outline-dark" data-toggle="#sidebar" id="sidebar-toggle" class="navbar-right navbar-toggle">Logout</button> </form>   
          <% } %>
        </div>
        
      </div>
      
    </nav>
  </header>
  